/* base styles */
* {
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
html {
	font-family: 'Roboto', sans-serif;
	color: #212529;
}

img {
	width: 100%;
}

/* ul {
	margin: 0;
	padding: 0;
	list-style: none;
} */

a {
	text-decoration: none;
}

#Reference a {
	text-decoration: underline;
}

h1,
h2,
h3 {
	font-weight: 400;
}
h1,
h2,
h3,
h3 {
	margin: 0 0 1rem 0;
}

p,
li {
	line-height: 1.5;
}

/* Main styles */
header {
	font-size: 1.8rem;
	margin-top: 40px;
}

pre {
	margin: 0;
}

code {
	display: block;
	padding: 20px;
	line-height: 1.4;
	background-color: #e3e3e3;
	border-left: 6px solid #00458b;
	word-break: break-all;
	white-space: normal;
}

#navbar {
	width: 234px;
	background-color: #eee;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

#navbar.open {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

#navbar header {
	padding: 22px;
}

#navbar ul {
	margin: 22px;
	padding: 0;
	list-style: none;
}

.nav-link {
	padding: 5px 0;
	display: block;
}

.hamburger {
	display: none;
}

.hamburger #menu svg {
	width: 40px;
	fill: #000;
}

/* screen smaller than 700px */
@media (max-width: 700px) {
	.hamburger {
		display: block;
		position: fixed;
		right: 21px;
		top: 20px;
	}
	#navbar {
		transform: translate(-300px, 0);
		transition: transform 0.3s ease;
	}
	main#main-doc {
		margin-left: 0;
	}
}

/* Layout styles */
#main-doc {
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 234px;
	padding: 0 2rem;
}

.container {
	margin: 0 auto;
	padding-left: 12px;
	padding-right: 12px;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}
